<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Pedidos Recebidos</h4>
                        <p class="category">Confirme o recebimento</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Cliente</th>
                                    <th>Endereço</th>
                                    <th>Pedido</th>
                                    <th>Pagamento</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Raphael</td>
                                    <td>Oliveira Lima, 673</td>
                                    <td>Hambuger x-duplo</td>
                                    <td class="text-danger">R$32,00 - Troco R$50,00</td>
                                    <td>
                                        <select name="status" class="form-control">
                                            <option value="">Aguardando</option>
                                            <option value="">Recebido</option>
                                            <option value="" selected>Fazendo</option>
                                            <option value="">Em entrega</option>
                                            <option value="">Entregue</option>
                                            <option value="">Cancelado</option>
                                        </select>
                                    </td>
                                    <td><button class="btn btn-danger pull-right">Detalhar</button></td>
                                </tr>
                                <tr>
                                    <td>Saulo</td>
                                    <td>Royalties, 168</td>
                                    <td>Suco Açai 500ml</td>
                                    <td class="text-danger">R$15,00 - Cartão Mastercard</td>
                                    <td>
                                            <select name="status" class="form-control">
                                                <option value="">Aguardando</option>
                                                <option value="">Recebido</option>
                                                <option value="">Fazendo</option>
                                                <option value="" selected>Em entrega</option>
                                                <option value="">Entregue</option>
                                                <option value="">Cancelado</option>
                                            </select>
                                        </td>
                                    <td><button class="btn btn-danger pull-right">Detalhar</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
